#introVideo {
	z-index: -1;
	position: absolute;
	left: 0px;
	right: 0px;
}

#rightHand {
	left: 3000px;
	bottom: 0px;
	width: 500px;
	height: 500px;
	position: absolute;
	animation: moveHandRight 3s;
	animation-delay:4s;
}

#leftHand {
	left: -3000px;
	bottom: 0px;
	width: 400px;
	height: 400px;
	position: absolute;
	animation: moveHandLeft 3s;
	animation-delay:4s;
}

/*#playRight1 {
	height: 50%;
	width:50%;
}*/

#rightBrickImage {
	height: auto;
	width: 699px;
	top: 0px;
	height: auto;
}


#rightBrickVideo {
	position: absolute;
	top: 0px;
	width: 699px;
	height: auto;
}

#leftBrickImage {
	height: auto;
	width: 699px;
	top: 0px;
	left: 0;
}

#leftBrickVideo {
	position: absolute;
	top: 0px;
	left: 0;
	width: 699px;
	height: auto;
}

@keyframes moveHandRight {
	0% {
			left: 3000px; 
	}
	100% {
			left: 500px;
		}
	}


@keyframes moveHandLeft {
	0% {
			left: -3000px; 
	}
	100% {
			left: 300px;
		}
	}
	
	
}